<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestSuite" parallel="tests" thread-count="8">

    <test name="MusalaSignIn-chrome">

        <parameter name="browser" value="Chrome" />
        <parameter name="baseURL" value="https://masters.musala.com/" />

        <classes>
            <class name="com.musala.selenium.tests.ui_tests.sign_in.InvalidSignIn">
            </class>
        </classes>
    </test>

    <test name="MusalaSignIn-firefox">

        <parameter name="browser" value="Firefox" />
        <parameter name="baseURL" value="https://masters.musala.com/" />

        <classes>
            <class name="com.musala.selenium.tests.ui_tests.sign_in.InvalidSignIn">
            </class>
        </classes>
    </test>

    <test name="MusalaFacebook-chrome">

        <parameter name="browser" value="Chrome" />
        <parameter name="baseURL" value="https://masters.musala.com/" />

        <classes>
            <class name="com.musala.selenium.tests.ui_tests.facebook.NavigateToMuffinConference">
            </class>
        </classes>
    </test>

    <test name="MusalaFacebook-firefox">

        <parameter name="browser" value="Firefox" />
        <parameter name="baseURL" value="https://masters.musala.com/" />

        <classes>
            <class name="com.musala.selenium.tests.ui_tests.facebook.NavigateToMuffinConference">
            </class>
        </classes>
    </test>

    <test name="MusalaEvent-chrome">

        <parameter name="browser" value="Chrome" />
        <parameter name="baseURL" value="https://masters.musala.com/" />

        <classes>
            <class name="com.musala.selenium.tests.ui_tests.events.MasterClassEventSchedule">
            </class>
        </classes>
    </test>

    <test name="MusalaEvent-firefox">

        <parameter name="browser" value="Firefox" />
        <parameter name="baseURL" value="https://masters.musala.com/" />

        <classes>
            <class name="com.musala.selenium.tests.ui_tests.events.MasterClassEventSchedule">
            </class>
        </classes>
    </test>

</suite>